fastapi
uvicorn
pandas
joblib
scikit-learn
imbalanced-learn
numpy<2.0
streamlit
requests
python-multipart
email-validator
plotly
matplotlib
transformers==4.36.2
torch==2.1.2
openai
langchain
ctransformers
